@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #1b1d20;
}

main {
  width: 60%;
  margin: 10% auto;
}

main h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 3rem;
  color: #fff;
}

section {
  background: #121113;
  padding: 4rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.9rem;
}

section h2 {
  color: #fff;
  font-size: 2.5rem;
}

span {
  color: #feb514;
}

section p {
  color: #9e9e9e;
  font-size: 1.8rem;
}

button {
  width: 18rem;
  font-size: 1.8rem;
  padding: 0.9rem;
  border-radius: 1rem;
  background: #ffb515;
}

button:hover {
  background: #ffd780;
  cursor: pointer;
}
