@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

input {
  text-decoration: none;
}

header {
  height: 53rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8ff;
}

.svg-ilustre1 {
  position: absolute;
  top: 0;
  left: 0;
}

.svg-ilustre2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

header .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

header h3 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #e45858;
}

header h1 span {
  color: #6246ea;
}

header h1 {
  font-size: 4.8rem;
  width: 64.7rem;
  text-align: center;
  margin: 1.8rem 0 4rem;
}

.input-search {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  background: #fff;
  padding: 4rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.input-box1,
.input-box2 {
  width: 348px;
  height: 48px;
  background: #f4f4ff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1.4rem;
  gap: 1.2rem;
}

.input-search input {
  border: 0 none;
  background: none;
  outline: none;
}

::placeholder {
  background: #f4f4ff;
  color: #7c7c8a;
}

.input-search a {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.button-search {
  background: #6246ea;
  padding: 1.4rem 3.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  text-align: center;
}

.button-search:hover {
  box-shadow: 0px 0px 2px 0px #7458ff;
  transition: 0.3s ease-in;
  background: #7458ff;
}

/* content-cards */

main {
  max-width: 121.6rem;
  margin: 11.3rem auto;
}

.div-title {
  display: flex;
  justify-content: space-between;
}

.div-title h2 {
  color: #121214;
  font-weight: 700;
  font-size: 3.2rem;
}

.button {
  padding: 0.4rem 2.4rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.4rem;
}

.button-select {
  gap: 0.5rem;
  display: flex;
  padding: 0.8rem;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  text-align: center;
}

.map-button {
  background: none;
  color: #6246ea;
}

.list-button {
  background: #6246ea;
  color: #fff;
}

.cards {
  margin-top: 4rem;
}

.card {
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  width: 38.4rem;
  height: 32.3rem;
}

.card img {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.info-card {
  padding: 1.6rem;
}

.info-card h3 {
  color: #121214;
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 1.6rem;
}

.info-card p {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  color: #000000bf;
}

.card-loc {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.card-loc span {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.75);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  max-width: 121.6rem;
}

footer {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #f4f4ff;
  background: #a08cff;
  padding: 0.5rem;
}

/* Responsividade */

@media (max-width: 600px) {
  header h3 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  header h1 {
    font-size: 2.8rem;
    width: 34.7rem;
    text-align: center;
    margin: 1.8rem 0 4rem;
  }

  .input-search {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    background: #fff;
    padding: 4rem;
    border: none;
  }

  header .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background: #fff;
    border-radius: 10px;
    padding-top: 2rem;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #eaeaea;
  }

  main {
    max-width: 400px;
    margin: 5rem auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
  }

  .card {
    border: 0.1rem solid #eaeaea;
    border-radius: 1rem;
    width: 100%;
    height: 32.3rem;
  }

  .div-title h2 {
    color: #121214;
    font-weight: 700;
    font-size: 2rem;
  }

  .div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  header h3 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  header h1 {
    font-size: 2.8rem;
    width: 34.7rem;
    text-align: center;
    margin: 1.8rem 0 4rem;
  }

  .input-search {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    background: #fff;
    padding: 4rem;
    border: none;
  }

  header .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background: #fff;
    border-radius: 10px;
    padding-top: 2rem;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #eaeaea;
  }

  main {
    padding: 2rem;
    margin: 5rem auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
  }

  .card {
    border: 0.1rem solid #eaeaea;
    border-radius: 1rem;
    width: 100%;
    height: 32.3rem;
  }

  .div-title h2 {
    color: #121214;
    font-weight: 700;
    font-size: 2rem;
  }

  .div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

/* 2° */

@media (min-width: 800px) and (max-width: 1250px) {
  header h3 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  header h1 {
    font-size: 2.8rem;
    width: 34.7rem;
    text-align: center;
    margin: 1.8rem 0 4rem;
  }

  .input-search {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    background: #fff;
    padding: 4rem;
    border: none;
  }

  header .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background: #fff;
    border-radius: 10px;
    padding-top: 2rem;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #eaeaea;
  }

  main {
    padding: 20px;
    margin: 5rem auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .card {
    border: 0.1rem solid #eaeaea;
    border-radius: 1rem;
    width: 100%;
    height: 32.3rem;
  }

  .div-title h2 {
    color: #121214;
    font-weight: 700;
    font-size: 2rem;
  }

  .div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
